[submodule "FSND_Fyyur"]
	path = FSND_Fyyur
	url = https://github.com/nooreldeensalah/FSND_Fyyur
[submodule "FSND_Trivia_API"]
	path = FSND_Trivia_API
	url = https://github.com/nooreldeensalah/FSND_Trivia_API
[submodule "FSND_Coffee_Shop_Full_Stack"]
	path = FSND_Coffee_Shop_Full_Stack
	url = https://github.com/nooreldeensalah/FSND_Coffee_Shop_Full_Stack
[submodule "FSND_Deploy_Flask_App_to_Kubernetes_Using_EKS"]
	path = FSND_Deploy_Flask_App_to_Kubernetes_Using_EKS
	url = https://github.com/nooreldeensalah/FSND_Deploy_Flask_App_to_Kubernetes_Using_EKS
